dashboard {
    .statusColumn {
        background-color: whitesmoke;
        padding: 0px;
        margin-right: 15px;
    }
    .statusColumnHeader {
        background-color: white;
        margin-bottom: 10px;
    }
    .dragularColumn {
        height: 100%;
    }
}